@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Italianno&display=swap');

@font-face {
  font-family: 'BookkMyungjo';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/BookkMyungjo-.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Italianno';
  src: url("/fonts/Italianno-Regular.ttf") format('truetype');
  font-weight: 400;
  font-style: normal;
}


@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;
  }

  html,
  body,
  #__next {
    width: 100%;
    background: #000;
    font-family: 'Pretendard', sans-serif;
  }

  html {
    scroll-snap-type: y mandatory;
  }
}
